.debug [class*="col-"] {
  min-height: 150px;
  text-align: center;
  border: 1px solid blue;

}

header .navbar {
  background-color:#303e4e;
  margin-bottom: 0;

}

header .navbar .container a {
  color: white;
}

.my_jumbotron {
  color: white;
  text-align: center;
  background-color: #50a98f;
}
.my_jumbotron span {
  display: block;
}

.my_iconstar {
  height: 20px;
}

.livello-uno img {
  max-width: 100%;
}


.livello-due {
  background-color: #50a98f;
  text-align: center;
}

.livello-tre {
  text-align: center;
}

.my_footer {
  background-color: #3F546B;
}
